.photos-section {
  font-family: "Poppins";
  display: flex;
  gap: 58px;
  .main-content {
    padding: 2em;
    background: #fff;
    width: 100%;
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      gap: 15px;
    }
  }
}
