<section class="auth-section login-section">
  <app-hero class="app-hero"></app-hero>
  <div class="right-container">
    <div class="top">
      <img src="../../../assets/Logo.svg" alt="" />
      <h2>Hello Again!</h2>
    </div>
    <div class="form-container">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText />
        <label for="float-input">Username</label>
      </span>
    </div>
    <a routerLink="/register">Go To Register</a>
  </div>
</section>
