.home-section {
  font-family: "Poppins";
  display: flex;
  gap: 58px;
  .main-content {
    display: flex;
    width: 100%;
  }
  .center {
    button {
      padding: 0.4em 0.8em;
      font-size: 1rem;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      i {
        color: lime;
      }
    }
    width: 80%;
  }
  .right {
    h2 {
      text-align: center;
    }
    width: 20%;
    min-width: 200px;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 20px;
  .input-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    textarea {
      min-height: 100px;
    }
    .browse {
      border: 2px solid red;
      padding: 0.4em 0.8em;
      border-radius: 6px;
    }
  }
  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
