<section class="section home-section">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="center">
      <button pButton (click)="toggleNewPost()">
        <i class="pi pi-plus"></i>
        <p>New Post</p>
      </button>
      <div class="posts">
        <app-post
          *ngFor="let post of posts"
          [post]="post"
          [user]="user"
        ></app-post>
      </div>
    </div>
    <div class="right">
      <div class="container">
        <h2>Discover</h2>
        <div class="users"></div>
      </div>
    </div>
  </div>
</section>
<p-dialog header="Title" [(visible)]="displayNewPost"> </p-dialog>
