<div class="post-card">
  <div class="top">
    <div class="user">
      <img
        src="http://localhost:4000/avatar/{{ post.user.avatar }}"
        alt="avatar"
        class="avatar"
        loading="lazy"
      />
      <p class="name">{{ post.user.firstname }} {{ post.user.lastname }}</p>
    </div>
  </div>
  <p class="description">{{ post.description }}</p>
  <div class="img-container">
    <img
      src="http://localhost:4000/images/{{ post.imageRef }}"
      alt="post"
      class="post-img"
      width="100%"
      height="100%"
      loading="lazy"
    />
    <!-- <p-image
      src="http://localhost:4000/images/{{ post.imageRef }}"
      [preview]="true"
      width="100%"
      height="100%"
    ></p-image> -->
  </div>
</div>
